.gear-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 10px;
}

mat-form-field {
  margin-bottom: 8px;
}

.full-width {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 16px;
}

.form-row mat-form-field {
  flex: 1;
}

.checkbox-row {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
